site_name: Notas em Sistemas Distribuídos
repo_url: https://github.com/lasarojc/ds_notes 
edit_uri: ""
nav:
        #- Início: index.html
        - Prefácio: preface.md
        - Introdução: intro.md
        - Fundamentos: fundamentals.md
        - Arquiteturas: arch.md
        - Comunicação: comm.md
        - Coordenação: coord.md
        - Tempo: time.md
        - Tolerância a Falhas: fault.md
        - Bancos de Dados: disdb.md
        - Sistemas de Arquivos: disfs.md
        - Tecnologias: tech.md

theme:
        name: material
        palette:
            scheme: default 
            accent: deep orange
            primary: blue grey
        language: pt
        custom_dir: overrides

plugins:
        - search
#        - bibtex:
#            bib_file: "refs.bib"
#            cite_style: "pandoc"
        - drawio-exporter:
                cache_dir: 'drawio-exporter'
                drawio_executable: null
                drawio_args:
                    - --no-sandbox
                format: svg
                sources: '*.drawio'

markdown_extensions:
        - toc:
            toc_depth: 5
        - attr_list
        - mdx_math
        - admonition
        - footnotes
        - pymdownx.arithmatex:
               generic: true
        - pymdownx.betterem:
               smart_enable: all
        - pymdownx.caret
        - pymdownx.critic
        - pymdownx.details
        - pymdownx.emoji:
            emoji_index: !!python/name:materialx.emoji.twemoji
            emoji_generator: !!python/name:materialx.emoji.to_svg
            #emoji_index: !!python/name:pymdownx.emoji.twemoji
            #emoji_generator: !!python/name:pymdownx.emoji.to_svg
        - pymdownx.highlight:
             linenums: true
        - pymdownx.inlinehilite
        - pymdownx.magiclink
        - pymdownx.mark
        - pymdownx.smartsymbols
        - pymdownx.superfences:
              custom_fences:
                   - name: mermaid
                     class: mermaid
                     format: !!python/name:pymdownx.superfences.fence_div_format
        - pymdownx.tasklist:
            custom_checkbox: true
        - pymdownx.tabbed
        - pymdownx.tilde

extra_javascript:
        - https://unpkg.com/mermaid@8.5.1/dist/mermaid.min.js
        - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
        - javascripts/mathjaxhelper.js

extra_css:
        - css/extra.css

google_analytics: ['G-PJX835H7DP', 'lasarojc.github.org/dsnotes']
