name: ci
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: pip install mkdocs-drawio-exporter
      - run: pip install python-markdown-math
      - run: sudo apt update
      - run: wget https://github.com/jgraph/drawio-desktop/releases/download/v14.1.8/draw.io-amd64-14.1.8.deb
      - run: sudo dpkg -i draw.io-amd64-14.1.8.deb
#      - run: sudo apt install snapd
#      - run: sudo snap install drawio
      - run: mkdocs gh-deploy --force
